body {
  /* min-height: 100vh; */
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(88, 31, 31);
}

.App-link {
  color: #61dafb;
}
.animation {
  width: 400px;
  height: 80px;
  background-color: rgb(0, 0, 0);
  /* margin: 10px auto;   */
}

.first {
  height: 200px;
  width: 200px;
  border-radius: 10%;
  background: #000000;
  padding: 2%;
}

.first.hover {
  opacity: 0.1;
}

.text-center {
  text-align: center;
  color: #af2c2c;
  background-color: #c22a2a;
}

.first {
  will-change: opacity, transform;
  opacity: 1;
  transform: translate3d(0px, -440px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}
/* 
.first:hover {
  animation-name: floating;
  animation-duration: 10s; 
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 15px;
  margin-top: 15px;

} */

.top {
  background-color: rgb(255, 255, 255);
}

.events {
  margin-left: 46%;
}
.event {
}

@keyframes first {
  from {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  to {
    transform: translate(0, 0);
  }
}

#image2 {
  /* transform: scale(1.5); */
  /* position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}
